<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simple.manage.system.dao.CorporationDao">
    <sql id="baseColumnList">
        corp_id,
        corp_name,
        corp_code,
        corp_note,
        exta,
        extb,
        create_id,
        create_time,
        update_id,
        update_time,
        is_delete,
        valid_sta
    </sql>

    <select id="checkCorp" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT COUNT(corp_id)
        FROM t_corporationmst
        WHERE is_delete = '0'
        AND valid_sta ='0'
        AND corp_id = #{corpId}
    </select>

    <insert id="addCorp" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="corp_id">
        INSERT INTO t_corporationmst
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="corp_name != null and corp_name != ''">
                corp_name,
            </if>
            <if test="corp_code != null and corp_code != ''">
                corp_code,
            </if>
            <if test="corp_note != null and corp_note != ''">
                corp_note,
            </if>
            <if test="exta != null and exta != ''">
                exta,
            </if>
            <if test="extb != null and extb != ''">
                extb,
            </if>
            <if test="create_id != null">
                create_id,
            </if>
            <if test="create_time != null">
                create_time,
            </if>
            </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="corp_name != null and corp_name != ''">
                  #{corp_name},
            </if>
            <if test="corp_code != null and corp_code != ''">
                  #{corp_code},
            </if>
            <if test="corp_note != null and corp_note != ''">
                  #{corp_note},
            </if>
            <if test="exta != null and exta != ''">
                  #{exta},
            </if>
            <if test="extb != null and extb != ''">
                  #{extb},
            </if>
            <if test="create_id != null">
                  #{create_id},
            </if>
            <if test="create_time != null">
                  #{create_time},
            </if>
        </trim>
    </insert>

    <update id="updCorp" parameterType="java.util.Map">
        UPDATE t_corporationmst
        <set>
            <if test="corp_name != null and corp_name != ''">
                corp_name = #{corp_name},
            </if>
            <if test="corp_code != null and corp_code != ''">
                corp_code = #{corp_code},
            </if>
            <if test="corp_note != null and corp_note != ''">
                corp_note = #{corp_note},
            </if>
            <if test="exta != null and exta != ''">
                exta = #{exta},
            </if>
            <if test="extb != null and extb != ''">
                extb = #{extb},
            </if>
            <if test="update_id != null">
                update_id = #{update_id},
            </if>
            <if test="update_time != null">
                update_time = #{update_time},
            </if>
            <if test="valid_sta != null and valid_sta != ''">
                valid_sta = #{valid_sta},
            </if>
        </set>
        WHERE corp_id = #{corp_id}
    </update>

    <select id="queryCorp" parameterType="java.lang.Integer" resultType="java.util.Map">
        SELECT
            corp_id AS id,
            corp_name AS "name",
            corp_code AS code,
            corp_note AS note
        FROM t_corporationmst
        WHERE 1 = 1
        AND is_delete = '0'
        AND valid_sta ='0'
        AND corp_id = #{corpId}
    </select>

    <select id="queryCorpList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            corp_id AS id,
            corp_name AS "name",
            corp_code AS code,
            corp_note AS note
        FROM t_corporationmst
        WHERE 1 = 1
        AND is_delete = '0' AND valid_sta ='0'
        <if test="corp_id != null">
            AND corp_id = #{corp_id}
        </if>
        <if test="corp_name != null and corp_name != ''">
            AND corp_name LIKE CONCAT('%', #{corp_name}, '%')
        </if>
        <if test="corp_code != null and corp_code != ''">
            AND corp_code LIKE CONCAT('%', #{corp_code}, '%')
        </if>
        <if test="corp_note != null and corp_note != ''">
            AND corp_note LIKE CONCAT('%', #{corp_note}, '%')
        </if>
        ORDER BY corp_id ASC
    </select>

    <delete id="delCorp" parameterType="java.util.Map">
        UPDATE t_corporationmst
        <set>
            <if test="update_id != null">
                update_id = #{update_id},
            </if>
            <if test="update_time != null">
                update_time = #{update_time},
            </if>
            <if test="is_delete != null and is_delete !=''">
                is_delete = #{is_delete},
            </if>
        </set>
        WHERE
        1 = 1
        AND is_delete = '0'
        AND valid_sta = '0'
        AND corp_id = #{corp_id}
    </delete>

    <delete id="delCorpForReal" parameterType="java.lang.Integer">
        DELETE
        FROM
        t_corporationmst
        WHERE corp_id = #{corpId}
    </delete>
</mapper>