<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simple.manage.system.dao.OrgDao">
    <sql id="baseColumnList">
        org_id,
        org_name,
        parent_id,
        org_order,
        org_note,
        exta,
        extb,
        create_id,
        create_time,
        update_id,
        update_time,
        is_delete,
        valid_sta,
        corp_id
    </sql>

    <resultMap id="orgMap" type="com.simple.manage.system.entity.Org">
        <id property="id" column="org_id" javaType="java.lang.Integer"/>
        <result property="name" column="org_name" javaType="java.lang.String"/>
        <result property="parentId" column="parent_id" javaType="java.lang.Integer"/>
    </resultMap>

    <select id="checkOrg" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT COUNT(org_id)
        FROM t_orgmst
        WHERE is_delete = '0'
        AND valid_sta ='0'
        AND org_id = #{orgId}
    </select>

    <insert id="addOrg" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="org_id">
        INSERT INTO t_orgmst
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="org_name != null and org_name != ''">
                org_name,
            </if>
            <if test="parent_id != null">
                parent_id,
            </if>
            <if test="org_order != null">
                org_order,
            </if>
            <if test="org_note != null and org_note != ''">
                org_note,
            </if>
            <if test="exta != null and exta != ''">
                exta,
            </if>
            <if test="extb != null and extb != ''">
                extb,
            </if>
            <if test="create_id != null">
                create_id,
            </if>
            <if test="create_time != null">
                create_time,
            </if>
            <if test="corp_id != null">
                corp_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="org_name != null and org_name != ''">
                #{org_name},
            </if>
            <if test="parent_id != null">
                #{parent_id},
            </if>
            <if test="org_order != null">
                #{org_order},
            </if>
            <if test="org_note != null and org_note != ''">
                #{org_note},
            </if>
            <if test="exta != null and exta != ''">
                #{exta},
            </if>
            <if test="extb != null and extb != ''">
                #{extb},
            </if>
            <if test="create_id != null">
                #{create_id},
            </if>
            <if test="create_time != null">
                #{create_time},
            </if>
            <if test="corp_id != null">
                #{corp_id},
            </if>
        </trim>
    </insert>

    <update id="updOrg" parameterType="java.util.Map">
        UPDATE t_orgmst
        <set>
            <if test="org_name != null and org_name != ''">
                org_name = #{org_name},
            </if>
            <if test="parent_id != null">
                parent_id = #{parent_id},
            </if>
            <if test="org_order != null">
                org_order = #{org_order},
            </if>
            <if test="org_note != null and org_note != ''">
                org_note = #{org_note},
            </if>
            <if test="exta != null and exta != ''">
                exta = #{exta},
            </if>
            <if test="extb != null and extb != ''">
                extb = #{extb},
            </if>
            <if test="update_id != null">
                update_id = #{update_id},
            </if>
            <if test="update_time != null">
                update_time = #{update_time},
            </if>
            <if test="valid_sta != null and valid_sta != ''">
                valid_sta = #{valid_sta},
            </if>
        </set>
        WHERE org_id = #{org_id}
    </update>

    <select id="queryOrg" parameterType="java.lang.Integer" resultType="java.util.Map">
        SELECT
            t1.org_id AS id,
            t1.org_name AS "name",
            t1.parent_id AS "parentId",
            t1.org_order AS "order",
            t1.org_note AS note,
            (SELECT t2.org_name FROM t_orgmst t2 WHERE t2.is_delete = '0' AND t2.valid_sta ='0' AND t2.org_id = t1.parent_id) AS exta
        FROM t_orgmst t1
        WHERE 1 = 1 AND t1.is_delete = '0' AND t1.valid_sta ='0'
        AND t1.org_id = #{orgId}
    </select>

    <select id="queryOrgEntity" parameterType="java.lang.Integer" resultMap="orgMap">
        SELECT
            org_id,
            org_name,
            parent_id
        FROM t_orgmst
        WHERE 1 = 1
        AND is_delete = '0' AND valid_sta ='0'
        AND org_id = #{org_id}
    </select>

    <select id="queryOrgList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            t1.org_id AS id,
            t1.org_name AS "name",
            t1.parent_id AS "parentId",
            t1.org_order AS "order",
            t1.org_note AS note,
            (SELECT t2.org_name FROM t_orgmst t2 WHERE t2.is_delete = '0' AND t2.valid_sta ='0' AND t2.org_id = t1.parent_id) AS exta
        FROM t_orgmst t1
        WHERE 1 = 1 AND t1.is_delete = '0' AND t1.valid_sta ='0'
        <if test="org_name != null and org_name != ''">
            AND org_name LIKE CONCAT('%', #{org_name}, '%')
        </if>
        <if test="parent_id != null">
            AND parent_id = #{parent_id}
        </if>
        ORDER BY org_order ASC
    </select>

    <select id="queryOrgListByLoginName" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT
            t4.org_id AS value,
            t4.org_name AS label
        FROM
            t_usermst t1,
            t_userrolelin t2,
            t_rolemst t3,
            t_orgmst t4
        WHERE
            1 = 1
            AND t1.is_delete = '0'
            AND t1.valid_sta = '0'
            AND t3.is_delete = '0'
            AND t3.valid_sta = '0'
            AND t4.is_delete = '0'
            AND t4.valid_sta = '0'
            AND t1.user_id = t2.user_id
            AND t2.role_id = t3.role_id
            AND t3.org_id = t4.org_id
            AND t1.login_name = #{loginName}
        ORDER BY
            t4.org_order ASC
    </select>

    <resultMap id="getSelf" type="com.simple.manage.system.entity.Tree">
        <id property="key" column="org_id"></id>
        <result property="title" column="org_name"></result>
        <!--查到的id作为下次的pid-->
        <collection property="children" select="queryOrgRecursion" column="org_id"></collection>
    </resultMap>

    <select id="queryOrgRecursion" parameterType="java.lang.Integer" resultMap="getSelf">
        SELECT
            org_id,
            org_name
        FROM t_orgmst
        WHERE 1 = 1
        AND is_delete = '0'
        AND valid_sta ='0'
        AND parent_id = #{orgId}
        ORDER BY org_order ASC
    </select>
</mapper>