<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simple.manage.system.dao.RoleDao">
    <sql id="baseColumnList">
        role_id,
        role_code,
        role_name,
        role_order,
        role_note,
        dept_id,
        exta,
        extb,
        create_id,
        create_time,
        update_id,
        update_time,
        is_delete,
        valid_sta
    </sql>

    <resultMap id="roleMap" type="com.simple.manage.system.entity.Role">
        <id property="id" column="role_id" javaType="java.lang.Integer"/>
        <result property="code" column="role_code" javaType="java.lang.String"/>
        <result property="name" column="role_name" javaType="java.lang.String"/>
    </resultMap>

    <insert id="addOrUpdRole" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="role_id">
        <selectKey keyProperty="count" resultType="int" order="BEFORE">
            select count(*) from t_rolemst where is_delete = '0' AND valid_sta ='0' AND role_id = #{role_id}
        </selectKey>
        <if test="count > 0">
            update t_rolemst
            <set>
                <if test="role_code != null and role_code !=''">
                    role_code = #{role_code},
                </if>
                <if test="role_name != null and role_name != ''">
                    role_name = #{role_name},
                </if>
                <if test="role_order != null">
                    role_order = #{role_order},
                </if>
                <if test="role_note != null and role_note != ''">
                    role_note = #{role_note},
                </if>
                <if test="dept_id != null">
                    dept_id = #{dept_id},
                </if>
                <if test="exta != null and exta != ''">
                    exta = #{exta},
                </if>
                <if test="extb != null and extb != ''">
                    extb = #{extb},
                </if>
                <if test="update_id != null">
                    update_id = #{update_id},
                </if>
                <if test="update_time != null">
                    update_time = #{update_time},
                </if>
                <if test="valid_sta != null and valid_sta != ''">
                    valid_sta = #{valid_sta},
                </if>
            </set>
            where role_id = #{role_id}
        </if>
        <if test="count == 0">
            insert into t_rolemst
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="role_code != null and role_code !=''">
                    role_code,
                </if>
                <if test="role_name != null and role_name != ''">
                    role_name,
                </if>
                <if test="role_order != null">
                    role_order,
                </if>
                <if test="role_note != null and role_note != ''">
                    role_note,
                </if>
                <if test="dept_id != null">
                    dept_id,
                </if>
                <if test="exta != null and exta != ''">
                    exta,
                </if>
                <if test="extb != null and extb != ''">
                    extb,
                </if>
                <if test="create_id != null">
                    create_id,
                </if>
                <if test="create_time != null">
                    create_time,
                </if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="role_code != null and role_code !=''">
                    #{role_code},
                </if>
                <if test="role_name != null and role_name != ''">
                    #{role_name},
                </if>
                <if test="role_order != null">
                    #{role_order},
                </if>
                <if test="role_note != null and role_note != ''">
                    #{role_note},
                </if>
                <if test="dept_id != null">
                     #{dept_id},
                </if>
                <if test="exta != null and exta != ''">
                    #{exta},
                </if>
                <if test="extb != null and extb != ''">
                    #{extb},
                </if>
                <if test="create_id != null">
                    #{create_id},
                </if>
                <if test="create_time != null">
                    #{create_time},
                </if>
            </trim>
        </if>
    </insert>

    <select id="queryRole" parameterType="java.lang.Integer" resultType="java.util.Map">
        SELECT
            role_id AS id,
            role_code AS "code",
            role_name AS "name",
            role_order AS "order",
            role_note AS note,
            dept_id AS "deptId"
        FROM t_rolemst
        WHERE 1 = 1
        AND is_delete = '0' AND valid_sta ='0'
        AND role_id = #{roleId}
    </select>

    <select id="queryRoleEntity" parameterType="java.lang.Integer" resultMap="roleMap">
        SELECT
            role_id,
            role_code,
            role_name
        FROM t_rolemst
        WHERE 1 = 1
        AND is_delete = '0' AND valid_sta ='0'
        AND role_id = #{roleId}
    </select>

    <select id="queryCurUserRole" parameterType="java.lang.Integer" resultMap="roleMap">
        SELECT
            r.role_id,
            r.role_code,
            r.role_name
        FROM
        t_userrolelin ur LEFT JOIN t_rolemst r ON ur.role_id = r.role_id
        WHERE 1 = 1
        AND user_id = #{userId}
    </select>

    <select id="queryRoleList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            role_id AS id,
            role_code AS "code",
            role_name AS "name",
            role_order AS "order",
            role_note AS note,
            dept_id AS "deptId"
        FROM t_rolemst
        WHERE 1 = 1
        AND is_delete = '0' AND valid_sta ='0'
        <if test="role_id != null">
            AND role_id = #{role_id}
        </if>
        <if test="role_code != null and role_code != ''">
            AND role_code LIKE CONCAT('%', #{role_code}, '%')
        </if>
        <if test="role_name != null and role_name != ''">
            AND role_name LIKE CONCAT('%', #{role_name}, '%')
        </if>
        ORDER BY role_order ASC
    </select>

    <delete id="delRole" parameterType="java.util.Map">
        UPDATE t_rolemst
        <set>
            <if test="update_id != null">
                update_id = #{update_id},
            </if>
            <if test="update_time != null">
                update_time = #{update_time},
            </if>
            <if test="is_delete != null and is_delete !=''">
                is_delete = #{is_delete},
            </if>
        </set>
        WHERE
        1 = 1
        AND is_delete = '0'
        AND valid_sta = '0'
        AND role_id = #{role_id}
    </delete>

    <delete id="delRoleForReal" parameterType="java.lang.Integer">
        DELETE
        FROM
        t_rolemst
        WHERE role_id = #{roleId}
    </delete>
</mapper>