<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simple.manage.system.dao.UserOrgDao">
    <sql id="baseColumnList">
        id,
        user_id,
        org_id,
        create_id,
        create_time
    </sql>

    <insert id="addUserOrg" parameterType="java.util.List">
        INSERT INTO t_userorglin
        (user_id,org_id,create_id,create_time)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.user_id},#{item.org_id},#{item.create_id},#{item.create_time})
        </foreach>
    </insert>

    <select id="queryAll" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
            user_id,
            org_id
        FROM t_userorglin
        WHERE 1 = 1
        <if test="user_id != null">
            AND user_id = #{user_id}
        </if>
        <if test="org_id != null">
            AND org_id = #{org_id}
        </if>
    </select>

    <delete id="delUserOrgBatch" parameterType="java.util.List">
        DELETE FROM
        t_userorglin
        WHERE 1 = 1 AND (user_id,org_id) IN
        <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
            (#{item.user_id},#{item.org_id})
        </foreach>
    </delete>

    <delete id="delUserOrg" parameterType="java.util.Map">
        DELETE
        FROM
        t_userorglin
        WHERE 1 = 1
        <if test="user_id != null">
            AND user_id = #{user_id}
        </if>
        <if test="org_id != null">
            AND org_id = #{org_id}
        </if>
    </delete>
</mapper>